/*CSS for TodoListPage, TodoLists, TodoTasks and CreateTodo*/

.listTabButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.activeButton {
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 10rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedActiveButton {
  composes: activeButton;
  background-color: #43355a;
}

.completedButton {
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 10rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedCompletedButton {
  composes: completedButton;
  background-color: #43355a;
}

.container {
  margin: 0 0.7rem;
  height: fit-content;
  justify-content: space-between;
}

/*
@media screen and (max-width: 768px) {
  .createButton {
    order: 1;
  }
  .responsiveLayout {
    order: 2;
  }
}
*/

.listContainer {
  display: flex;
  flex-direction: row;
  border-radius: 1rem;
  width: 100%;
  height: fit-content;
  background-color: #292038;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.responsiveLayout {
  composes: listContainer;
  width: fit-content;
}

@media screen and (max-width: 768px) {
  .responsiveLayout {
    order: 2;
  }
  .createButton {
    order: 1;
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: #1e1a23;
  width: 16rem;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  align-items: center;

  @media screen and (max-width: 768px) {
    order: 2;
  }
}

.listHeader {
  display: flex;
  align-content: center;
  width: 100%;
}

/*possibly remove*/
.listTitle {
  text-align: center;
  justify-self: center;
  margin: auto;
}

.taskCount {
  text-align: center;
  width: 2rem;
  padding: 0.2rem 0;
  font-size: large;
  font-weight: 600;
}

.todoList h2 {
  align-self: center;
  margin: 0;
}

.todoList h3 {
  margin: 0 auto;
}

.todoList ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  align-items: center;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 0.5rem;
  height: 3rem;
}

.taskContainer {
  display: flex;
}

.itemText {
  align-self: center;
  margin-left: 0.5rem;
}

.checkedItemText {
  align-self: center;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.todoEdit {
  display: flex;
  align-items: center;
}

.itemEdit {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

/*
.trashIcon {
  composes: iconContainer;
  color: #a30000;

  &:hover {
    color: #770000;
  }
}
*/

.checkButton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: white;

  border-radius: 0.5rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  width: 10rem;
  margin: 1rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

/*
.editButton {
  composes: button;
  background-color: #7d65a4;
  width: auto;
  height: 2.5rem;

  &:hover {
    background-color: #43355a;
  }
}

.doneButton {
  composes: button;
  background-color: green;
  width: auto;
  height: 2.5rem;

  &:hover {
    background-color: darkgreen;
  }
}
*/

.addTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskInput {
  flex-direction: row;
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 2rem;
  width: auto;
  padding: 0 0.5rem;
}

.addTaskButton {
  composes: button;
  margin: 0;
  padding: 0 0.3rem;
  background-color: green;
  width: auto;
  height: 38px;

  &:hover {
    background-color: darkgreen;
  }
}

.deleteTaskButton {
  composes: button;
  margin: 0;
  padding: 0 0.3rem;
  background-color: #a30000;
  width: auto;
  height: 38px;

  &:hover {
    background-color: #770000;
  }
}

.deleteButton {
  composes: button;
  background-color: #a30000;
  width: auto;
  height: 2.5rem;
  justify-content: space-between;

  &:hover {
    background-color: #770000;
  }
}

.createButton {
  composes: button;
  background-color: green;
  justify-content: space-evenly;

  &:hover {
    background-color: darkgreen;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #1e1a23;
  padding: 2rem;
  border: 2px solid #eafdf8;
  border-radius: 1rem;
  margin: 0.7rem;
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formInput select {
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 38px;
}

.formInput input {
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 34px 0 0.5rem;
}

.formButton {
  composes: button;
  margin: 0.5rem 0 0 0;
  background-color: green;
  width: auto;
  height: 2rem;
  justify-content: center;

  &:hover {
    background-color: darkgreen;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeButton {
  composes: button;
  margin: 2rem 0.3rem 0 0;
  background-color: #a30000;
  width: auto;
  height: 2.5rem;
  justify-content: center;

  &:hover {
    background-color: #770000;
  }
}

.submitButton {
  composes: button;
  margin: 2rem 0 0 0.3rem;
  background-color: green;
  width: auto;
  height: 2.5rem;
  justify-content: center;

  &:hover {
    background-color: darkgreen;
  }
}
