.container {
  display: flex;
  flex-direction: row;
  /*
  border-radius: 1rem;
  border: 2px solid white;
  */
  /*maybe remove. add a background behind the listcontainer and have 
  borders around the lists instead. buttons outside the background.*/
  margin: 0 0.7rem;
  height: fit-content;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .listContainer {
    order: 2;
  }

  .buttonContainer {
    order: 1;
  }
}

/*
.listHeader {
}
*/

.listTabButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.activeButton {
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 10rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedActiveButton {
  composes: activeButton;
  background-color: #43355a;
}

.completedButton {
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 10rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedCompletedButton {
  composes: completedButton;
  background-color: #43355a;
}

.listContainer {
  display: flex;
  border-radius: 1rem;
  width: 100%;
  height: fit-content;
  background-color: #292038;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: #1e1a23;
  width: 16rem;
  height: fit-content;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*possibly remove*/
.listTitle {
  text-align: center;
}

.taskCount {
  text-align: start;
  width: 2rem;
  padding: 0.2rem 0;
}

.testDiv {
  align-items: end;
  align-self: flex-end;
  width: 2rem;
}

.todoList h2 {
  align-self: center;
  margin: 0;
}

.todoList h3 {
  margin: 0;
}

.todoList ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  align-items: center;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 0.5rem;
  height: 3rem;
}

.taskContainer {
  display: flex;
}

.itemText {
  align-self: center;
  margin-left: 0.5rem;
}

.checkedItemText {
  align-self: center;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.todoEdit {
  display: flex;
  align-items: center;
}

.itemEdit {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.trashIcon {
  composes: iconContainer;
  color: red;
}

.todoButtons {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: white;

  border-radius: 0.5rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

/*
.buttonContainer {
  display: flex;
  flex-direction: column;
}
*/

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  width: 10rem;
  margin: 1rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

.editButton {
  composes: button;
  background-color: #7d65a4;
  width: auto;
  height: 2.5rem;

  &:hover {
    background-color: #43355a;
  }
}

.doneButton {
  composes: button;
  background-color: green;
  width: auto;
  height: 2.5rem;

  &:hover {
    background-color: darkgreen;
  }
}

.addButton {
  composes: button;
  background-color: green;
  width: auto;
  height: 2.5rem;
  justify-content: space-between;

  &:hover {
    background-color: darkgreen;
  }
}

.createButton {
  composes: button;
  background-color: green;
  justify-content: space-evenly;

  &:hover {
    background-color: darkgreen;
  }
}

/*
.archiveButton {
  composes: button;
  background-color: #7d65a4;
  margin: 0.75rem 0 1rem 1rem;
  justify-content: space-evenly;

  &:hover {
    background-color: #43355a;
  }
}
*/
