.button {
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 2em;
  padding: 0 1rem;

  cursor: pointer;
  &:hover {
    background-color: #43355a;
    transition: all 0.2s ease-in-out;
  }
}
