/*CSS for TodoListPage, TodoLists, TodoTasks and CreateTodo*/

.listTabButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.activeButton {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 12rem;
  align-items: center;
  justify-content: space-evenly;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedActiveButton {
  composes: activeButton;
  background-color: #43355a;
}

.completedButton {
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #7d65a4;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  margin: 1rem 0;
  width: 12rem;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #43355a;
  }
}

.selectedCompletedButton {
  composes: completedButton;
  background-color: #43355a;
}

.container {
  margin: 0 0.7rem 0.7rem 0.7rem;
  height: fit-content;
  justify-content: space-between;
}

.listContainer {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1rem;
  width: 100%;
  height: fit-content;
  background-color: #292038;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }
}

.responsiveLayout {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1rem;
  width: 100%;
  height: fit-content;
  background-color: #292038;
  overflow-x: scroll;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    order: 2;
    padding: 0 0 1rem 0;
  }
}

.sideBar {
  @media screen and (min-width: 768px) {
    padding: 0 1rem;
    margin: 1rem 0;
    box-shadow: 0 0 1rem #1e1a23;
    clip-path: inset(0 0 0 -1rem);
  }
}

.leftMargin {
  @media screen and (min-width: 768px) {
    padding: 0 1rem 0 0;
    margin: 1rem 0;
    box-shadow: 0 0 1rem #1e1a23;
    clip-path: inset(0 -1rem 0 0);
  }
}

.rightMargin {
  @media screen and (min-width: 768px) {
    padding: 0 1rem 0 0;
    margin: 1rem 0;
    box-shadow: 0 0 1rem #1e1a23;
    clip-path: inset(0 0 0 -1rem);
  }
}

.todoList {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  border: 2px solid white;
  background-color: #1e1a23;
  width: 16rem;
  height: fit-content;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  align-items: center;

  @media screen and (max-width: 768px) {
    margin: 1rem 0 0 0;
  }
}

.createList {
  composes: todoList;
  margin: 0;

  @media screen and (max-width: 768px) {
    margin-top: 1rem;
    order: 1;
  }
}

.listHeader {
  display: flex;
  align-content: center;
  width: 100%;
}

.listTitle {
  text-align: center;
  justify-self: center;
  margin: auto;
}

.taskCount {
  text-align: center;
  width: 2rem;
  padding: 0.2rem 0;
  font-size: large;
  font-weight: 600;
}

.todoList h2 {
  align-self: center;
  margin: 0;
}

.todoList h3 {
  margin: 0 auto;
}

.todoList ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  align-items: center;
}

.todoList li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin: 0.5rem;
  height: 3rem;
  width: 240px;
}

.taskContainer {
  display: flex;
}

.itemText {
  align-self: center;
  margin-left: 0.5rem;
}

.checkedItemText {
  align-self: center;
  text-decoration: line-through;
  margin-left: 0.5rem;
}

.todoEdit {
  display: flex;
  align-items: center;
  width: 240px;
  justify-content: center;
}

.itemEdit {
  display: flex;
  align-items: center;
}

.iconContainer {
  width: 2rem;
  height: 2rem;
  align-items: center;
}

.checkButton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  color: white;

  border-radius: 0.5rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 24px;
  height: 3rem;
  padding: 0 1rem;
  width: 10rem;
  margin: 1rem;

  cursor: pointer;
  &:hover {
    transition: all 0.2s ease-in-out;
  }
}

.addTask {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskInput {
  flex-direction: row;
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 2rem;
  width: auto;
  padding: 0 0.5rem;
}

.addTaskButton {
  composes: button;
  margin: 0;
  padding: 0 0.3rem;
  background-color: green;
  width: auto;
  height: 38px;

  &:hover {
    background-color: darkgreen;
  }
}

.deleteTaskButton {
  composes: button;
  margin: 0;
  padding: 0 0.3rem;
  background-color: #a30000;
  width: auto;
  height: 38px;

  &:hover {
    background-color: #770000;
  }
}

.deleteListButton {
  composes: button;
  background-color: #a30000;
  width: 11rem;
  height: 2.5rem;
  justify-content: space-between;

  &:hover {
    background-color: #770000;
  }
}

.createButton {
  composes: button;
  background-color: green;
  justify-content: space-evenly;

  &:hover {
    background-color: darkgreen;
  }
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: rgb(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #1e1a23;
  padding: 2rem;
  border: 2px solid #eafdf8;
  border-radius: 0.5rem;
  margin: 0.7rem;
}

.formHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modalForm {
  display: flex;
  flex-direction: column;
}

.formInput {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.formInput select {
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 38px;
}

.formInput input {
  border: 3px solid #7d65a4;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0 34px 0 0.5rem;
}

.formButton {
  composes: button;
  margin: 0.5rem 0 0 0;
  background-color: green;
  width: auto;
  height: 2rem;
  justify-content: center;

  &:hover {
    background-color: darkgreen;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeButton {
  composes: button;
  margin: 2rem 0.3rem 0 0;
  background-color: #a30000;
  width: auto;
  height: 2.5rem;
  justify-content: center;

  &:hover {
    background-color: #770000;
  }
}

.submitButton {
  composes: button;
  margin: 2rem 0 0 0.3rem;
  background-color: green;
  width: auto;
  height: 2.5rem;
  justify-content: center;

  &:hover {
    background-color: darkgreen;
  }
}
